body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  border-bottom: 1px solid black;
}

button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: #d3d3d3;
  border: 1px solid white;
  border-radius: 9999px;
}

button:hover {
  background-color: #808080;
}

#button-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 80px repeat(4, 100px);
  gap: 8px;
}

#display {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-size: 30px;
}

.hide {
  background-color: white;
  cursor: initial;
}

.hide:hover {
  background-color: white;
}

#start {
  margin-top: 30px;
  background-color: #0f2027;
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 300px;
  height: 55px;
}

#start:hover {
  background-color: #2c5364;
}

#start:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
